flows/FAQ-SendEmail/Microsoft.Flow/flows/7ad0947f-f688-4ad9-aed1-47330b276bdc/definition.json
{"name":"a3cf02c8-8e94-4170-b3d6-cc32dbf47c7d","id":"/providers/Microsoft.Flow/flows/a3cf02c8-8e94-4170-b3d6-cc32dbf47c7d","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"FAQ - Send Email","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"4af50d87-e728-484e-874c-3f4536b38fee","type":"User","tenantId":"aecb54e0-7430-409d-86a4-7639c743eee7"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2024-11-08T20:21:38.2139803Z","connectionKeySavedTimeKey":"2024-11-08T20:21:38.2139803Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"},"sharepoint.site":{"defaultValue":"","type":"String"},"sharepoint.list":{"defaultValue":"","type":"String"}},"triggers":{"When_a_new_FAQ_item_is_created":{"recurrence":{"interval":5,"frequency":"Minute"},"splitOn":"@triggerOutputs()?['body/value']","type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dattaspo.sharepoint.com/sites/Demo/faq","table":"9dedd181-0f96-45d0-b3fc-72191b88aaab"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline-1","operationId":"GetOnNewItems"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_the_users_from_the_Owners_site_group":{"runAfter":{"Loop_through_categories":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://dattaspo.sharepoint.com/sites/Demo/faq","parameters/method":"GET","parameters/uri":"_api/web/AssociatedOwnerGroup/Users"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline-1","operationId":"HttpRequest"},"authentication":"@parameters('$authentication')"}},"Loop_through_all_users_in_the_Owners_site_group":{"foreach":"@body('Get_the_users_from_the_Owners_site_group')['d']['results']","actions":{"Ensure_an_email_exists":{"actions":{"Append_email_to_the_emails_variables":{"type":"AppendToArrayVariable","inputs":{"name":"emails","value":"@items('Loop_through_all_users_in_the_Owners_site_group')['Email']"}}},"else":{"actions":{}},"expression":{"and":[{"greater":["@length(items('Loop_through_all_users_in_the_Owners_site_group')['Email'])",0]}]},"type":"If"}},"runAfter":{"Create_emails_variable":["Succeeded"]},"type":"Foreach"},"Create_emails_variable":{"runAfter":{"Get_the_users_from_the_Owners_site_group":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"emails","type":"array","value":[]}]}},"Ensure_emails_exist":{"actions":{"Send_email_to_the_owners":{"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmailV2"}},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"@join(variables('emails'), '; ')","emailMessage/Subject":"New FAQ Item Added","emailMessage/Body":"<p class=\"editor-paragraph\">FAQ Managers,<br><br>A new faq question was added at @{coalesce(triggerBody()?['Created'],'')}by@{coalesce(triggerBody()?['Author']?['DisplayName'],'someone')}. Details:<br></p><br><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Category: </strong></b>@{join(variables('categories'), ', ')}</p><p class=\"editor-paragraph\"><b><strong class=\"editor-text-bold\">Question: </strong></b>@{triggerBody()?['Title']}</p><br><p class=\"editor-paragraph\">r/,</p><p class=\"editor-paragraph\">FAQ App</p>","emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Loop_through_all_users_in_the_Owners_site_group":["Succeeded"]},"else":{"actions":{}},"expression":{"and":[{"greater":["@length(variables('emails'))",0]}]},"type":"If"},"Create_categories_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"categories","type":"array","value":[]}]}},"Loop_through_categories":{"foreach":"@triggerBody()?['Category']","actions":{"Append_category_to_the_variable":{"type":"AppendToArrayVariable","inputs":{"name":"categories","value":"@items('Loop_through_categories')['Value']"}}},"runAfter":{"Create_categories_variable":["Succeeded"]},"type":"Foreach"}},"outputs":{},"description":"Sends an email to the owners of the site when a new item is added to the FAQ list."},"connectionReferences":{"shared_sharepointonline-1":{"connectionName":"shared-sharepointonl-66a6d844-5e1b-4fa5-a8f1-40d37f28a005","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-0f5dbe87-55c2-42fe-acb8-a951635aebe6","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}